# Environment variables & secrets
.env
*.env
backend/.env

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
backend/uploads/
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Node artifacts
node_modules/
dist/
.vite/

# OS files
.DS_Store
Thumbs.db
